/* General */
html, body {
    margin: 0;
    padding: 0;
    height:100%;
  }
header{
    background-color: #00C320;
    position:fixed;
    width:100%;
    z-index:1;
}
nav{
    margin:0;
    padding:20px 0;
    text-align: center;
}
nav li{
    font-family:'Raleway',sans-serif;
    font-weight: 600;
    font-size: 12px;
    display:inline-block;
    margin-right:60px;
}
nav a{
    text-decoration: none;
    color:white;
}
.container img{
    position: relative;
    padding: 0;
    display:block;
    margin: 0 auto;
    max-height:100%;
    max-width: 100%;
    opacity: 0.4;
}
.container h1{
    position: absolute;

}